<div class="divMargenes" id="container">
    <div class="p-col-2">
        <button pButton type="button" id="btnAniadir" icon="pi pi-plus" label="&nbsp;{{'centro.AniadirCentro' | translate}}"
            class="ui-button-raised ui-button-primary" (click)="addCentro()"></button>
    </div>
    <div class="p-col right">
        <p-button type="button" id="btnXLS" label="&nbsp;{{'XLS' | translate}}" icon="pi pi-download" title="{{'ExportXLS' | translate}}"
            styleClass="ui-button-success" pRipple class="p-mb-2" (click)="exportarExcelCentros()"></p-button>
    </div>
    <div class="p-col right">
        <p-button type="button" id="btnCSV" label="&nbsp;{{'CSV' | translate}}" icon="pi pi-download" title="{{'ExportCSV' | translate}}"
            styleClass="ui-button-success" pRipple class="p-mb-2" (click)="exportarCsvCentros()"></p-button>
    </div>
</div>
<div>
    <p-table #dt [columns]="cols" [value]="centros" [paginator]="true" [rows]="10" dataKey="centro"
        [resizableColumns]="true" [reorderableColumns]="true">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn>
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
                <th style="width:12em !important">{{'Acciones' | translate}}</th>
            </tr>
            <tr [style.fontSize.px]="fontSize">
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'descCentro', 'contains')" placeholder="Filtra por Nombre del centro" class="ui-column-filter">
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'agtEmplazamientoDTO.localidad', 'contains')" placeholder="Filtra por Localidad" class="ui-column-filter">
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'telefono', 'contains')" placeholder="Filtra por Teléfono" class="ui-column-filter">
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'activos', 'contains')" placeholder="Filtra por Activo" class="ui-column-filter">
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'tipoCentro', 'contains')" placeholder="Filtra por Tipo de centro" class="ui-column-filter">
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td *ngFor="let col of columns">
                    <div *ngIf="col.subfield;then nested_object_content else normal_content"></div>
                    <ng-template #nested_object_content>
                        {{rowData[col.field][col.subfield]}}
                    </ng-template>
                    <ng-template #normal_content>
                        {{formatearSiNo(rowData[col.field])}}
                    </ng-template>
                </td>
                <td style="text-align:center">
                    <p-button type="button" icon="pi pi-user-edit" styleClass="ui-button-raised ui-button-primary"
                        (click)="editar(rowData.idCentro)" title="{{'listado.editar' | translate}}"></p-button>
                    <p-button type="button" icon="pi pi-trash" styleClass="ui-button-raised ui-button-primary"
                        (click)="delete(rowData.idCentro)" title="{{'listado.eliminar' | translate}}"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-confirmDialog #cd header="{{'centro.EliminarCentro' | translate}}" icon="pi pi-exclamation-triangle">
    <p-footer>
        <p-button type="button" styleClass="ui-button-raised ui-button-primary" icon="pi pi-check"
            label="{{'alertas.siConfirmacion' | translate}}" (click)="cd.accept()"></p-button>
        <p-button type="button" styleClass="ui-button-raised ui-button-primary" icon="pi pi-times"
            label="{{'alertas.noConfirmacion' | translate}}" (click)="cd.reject()"></p-button>
    </p-footer>
</p-confirmDialog>
<p-dialog header="{{ titleHeader }}" [(visible)]="displayDialog" [responsive]="true"
    showEffect="fade" [modal]="true" [style]="{width: '500px'}">
    <div class="ui-g ui-fluid" *ngIf="centroEdit">
        <form [formGroup]="formulario" *ngIf="displayDialog">
            <div class="p-col-12 p-grid p-justify-center">
                <div class="p-col-12">
                    <label for="descCentro">{{ 'centro.NombreCentro' | translate }} *</label>
                    <input formControlName="descCentro" pInputText id="descCentro" maxlength="200" />
                    <p-message severity="error" [text]="formulario.controls['descCentro'].errors['required'] ? ' El Nombre del Centro es requerido': ''" *ngIf="!formulario.controls['descCentro'].valid&&formulario.controls['descCentro'].dirty">
                    </p-message>
                </div>
                <div class="p-col-12">
                    <label for="telefono">{{ 'centro.Telefono' | translate }}</label>
                    <input formControlName="telefono" pInputText id="telefono" maxlength="20" />
                </div>
                <div class="p-col-12">
                    <label style="margin-right: 2em;">{{ 'centro.Activo' | translate }}: *</label>
                    <label class="form-check-label" for="activoSi">{{ 'centro.siActivo' | translate }}</label>
                    <input class="form-check-input" type="radio" formControlName="activo" [value]="1" required id="activoSi" />
                    <label class="form-check-label" style="margin-left: 1.5em;" for="activoNo">{{ 'centro.noActivo' | translate }}</label>
                    <input class="form-check-input" type="radio" formControlName="activo" [value]="0" required id="activoNo" />
                </div>
                <div class="p-col-12">
                    <label style="margin-right: 2em;">{{ 'centro.TipoCentro' | translate }}: *</label>
                    <label class="form-check-label" for="tipoCentroPGTEMD">{{ 'centro.PGTEMD' | translate }}</label>
                    <input class="form-check-input" type="radio" formControlName="tipoCentro" value="PGTEMD" required id="tipoCentroPGTEMD" />
                    <label style="margin-left: 1.5em;" class="form-check-label" for="tipoCentroCPTEMD">{{ 'centro.CPTEMD' | translate }}</label>
                    <input class="form-check-input" type="radio" formControlName="tipoCentro" value="CPTEMD" required id="tipoCentroCPTEMD" />
                </div>
                <div class="p-col-12">
                    <label class="form-check-label" for="emplazamiento">{{ 'centro.Emplazamiento' | translate }} *</label>
                    <p-dropdown id="emplazamiento" formControlName="emplazamiento" [options]="cnt" (onChange)="cargarEmplazamiento()"></p-dropdown>
                </div>
                <div class="p-col-9">
                    <label for="localidad">{{ 'emplazamiento.Localidad' | translate }}</label>
                    <input pInputText id="localidad" formControlName="localidad" [value]="emplaza.localidad" />
                </div>
                <div class="p-col-3">
                    <label for="cp">{{ 'emplazamiento.CP' | translate }}</label>
                    <input pInputText id="cp" formControlName="cp" [value]="emplaza.cp" />
                </div>
                <div class="p-col-7">
                    <label for="provincia">{{ 'emplazamiento.Provincia' | translate }}</label>
                    <input pInputText id="provincia" formControlName="provincia" [value]="emplaza.provincia" />
                </div>
                <div class="p-col-5">
                    <label for="pais">{{ 'emplazamiento.Pais' | translate }}</label>
                    <input pInputText id="pais" formControlName="pais" [value]="emplaza.pais" />
                </div>
                <div class="p-col-12">
                    <label for="direccion">{{ 'emplazamiento.Direccion' | translate }}</label>
                    <input pInputText id="direccion" formControlName="direccion" [value]="emplaza.direccion" />
                </div>
                <p-footer class="p-col-6">
                    <div class="ui-dialog-buttonpane ui-helper-clearfix m-bottom m-top"><br>
                        <button type="button" pButton icon="fa fa-check" class="ui-button-raised ui-button-primary"
                            label="{{ 'listado.guardar' | translate }}" [disabled]="!formulario.valid" (click)="save()"></button>
                    </div>
                </p-footer>
            </div>
        </form>
    </div>
</p-dialog>